:root {
  font-size: 0.75rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: radial-gradient(farthest-corner at 50% 60%, rgb(92, 92, 92) 10%, rgb(107, 106, 106));
  background-attachment: fixed;
}

#container {  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

#title {
  margin: 1.5rem 1rem;
  font-size: 2.5rem;
  color: rgb(221, 221, 221);
  text-align: center;
}

main {
  padding: 1rem;

  svg {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
}

h2 {
  color: rgb(47, 66, 94);
}

footer {
  font-size: 0.8rem;
  text-align: center;
  margin: 1.5rem 1rem;
  color: white;
}